beautifulsoup4==4.9.3
certifi==2020.6.20
click==7.1.2
Flask==1.1.2
html5lib==1.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mechanize==0.4.5
six==1.15.0
soupsieve==2.0.1
webencodings==0.5.1
Werkzeug==1.0.1
