<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <form align="center" action="" method="post">

        Subscribe to course
        <p>
            <label for="username">Morgan Username</label>
            <input type="text" name="username">Don't add '@morgan.edu'
        </p>
        <p>
            <label for="password">Morgan Password</label>
            <input type="password" name="password">
        </p>
        <p>
            <label for="subj">Subject | Course ID</label>
            <input type="text" name="subj"> |
            <input type="number" name="cid" maxlength="3"> ex. MATH | 241
        </p>
        <p>
            <label for="crn">Course Registration Number</label>
            <input type="text" name="crn">
            <input type="hidden" value="201930" name="trm">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
    <!--Check for existing subscriptions -->
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
</body>

</html>