<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
Subscribe to course 
    <form action="" method="post">
        <p>
            <label for="username">Morgan Username</label>
            <input type="text" name="username">
        </p>
        <p>
            <label for="password">Morgan Password</label>
            <input type="password" name="password">
        </p>
        <p>
            <label for="subj">Subject | Course ID ex. MATH | 241</label>
            <input type="text" name="subj"> | 
            <input type="text" name="cid">
        </p>
        <p>
            <label for="crn">Course Registration Number</label>
            <input type="text" name="crn">
            <input type="hidden" value="201930" name="trm">
        </p>
        <p>
            <input type="submit">
        </p>
    </form><!--Check for existing subscriptions -->
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>